[BASIC]
disable =
    unused-argument,
    import-outside-toplevel,
    too-many-locals,
    too-many-statements,
    too-many-branches

[DESIGN]
max-attributes = 20
max-line-length = 120
min-public-methods = 1
max-locals = 20
